.content {
    box-sizing: border-box;
    padding: 2em 3em 0;
    text-align: center;
}

.header {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar {
    background-color: #38b7ea;
    color: white;
    text-align: center;
    box-shadow: 0px 2px 8px 0px gray;
    z-index: 1000;
}

.sidebar img {
    max-height: 80px;
    transform: translateY(0.6em);
}

.round-img {
    box-sizing: border-box;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin: 0.5em;
    padding: 0.4em;
    border: 0.25em white solid
}

.pure-form legend {
    border: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}


.pure-form-stacked input[type=email],
.pure-form-stacked input[type=password] {
    padding-left: 2em;
    max-width: 100%;
}

.pure-form fieldset {
    min-width: 100%;
    max-width: 100%;
}

.inputWrapper {
    display: inline-block;
    position: relative;
    max-width: 100%;
}

.inputWrapper .fa-user,
.inputWrapper .fa-lock {
    position: absolute;
    display: inline-block;
    left: 1em;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #b5b5b5;
}

.pure-form-stacked input[type=email]:focus,
.pure-form-stacked input[type=password]:focus,
.pure-form-stacked input[type=email]:hover,
.pure-form-stacked input[type=password]:hover {
    border: 1px solid #38b7ea;
}

.pure-form-stacked input[type=email]:focus + .fa-user,
.pure-form-stacked input[type=password]:focus + .fa-lock,
.pure-form-stacked input[type=email]:hover + .fa-user,
.pure-form-stacked input[type=password]:hover + .fa-lock {
    color: #38b7ea
}

.login-form {
    padding: 1em;
    border: 1px solid darkgrey;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 8px 0px gray;
    margin-left: auto;
    margin-right: auto;
    max-width: 18em;
}

.pure-button-primary {
    background: #38b7ea;
}

.pure-button-primary:hover,
.pure-button-primary:active {
    background: #04a9e8;
}

#alt-login-links a {
    text-decoration: none;
    color: #38b7ea;
}

#alt-login-links a:visited {
    color: #84D1EE;
}

#alt-login-links a:hover,
#alt-login-links a:active {
    text-decoration: underline;
    color: #04a9e8;
}

@media (min-width: 48em) {
    .content {
        margin-left: 160px;
    }
    .header {
        position: static;
        margin: 50% 2em 0;
        text-align: right;
    }
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 160px;
        box-shadow: 2px 0px 8px 0px gray;
    }
    .sidebar img {
        max-height: none;
        width: 100%;
        display: inline-block;
    }
    .round-img {
        max-height: none;
        width: 80%;
        margin: 10%;
        display: inline-block;
        float: none;
    }
}

#########

.color-primary-0 { color: #38B9EA }	/* Main Primary color */
.color-primary-1 { color: #FEFEFE }
.color-primary-2 { color: #84D1EE }
.color-primary-3 { color: #04A9E8 }
.color-primary-4 { color: #015B7E }

.color-secondary-1-0 { color: #FFC535 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FFFFFF }
.color-secondary-1-2 { color: #FFDD89 }
.color-secondary-1-3 { color: #FFB600 }
.color-secondary-1-4 { color: #C98F00 }

.color-secondary-2-0 { color: #FF5835 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFFFFF }
.color-secondary-2-2 { color: #FF9E89 }
.color-secondary-2-3 { color: #FF2C00 }
.color-secondary-2-4 { color: #C92300 }

.color-complement-0 { color: #FF9E35 }	/* Main Complement color */
.color-complement-1 { color: #FFFFFF }
.color-complement-2 { color: #FFC789 }
.color-complement-3 { color: #FF8500 }
.color-complement-4 { color: #C96900 }
