body {
    font-family: Arial, sans-serif;
    background-color: #bbb;
}

.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #38b7ea;
    margin: 0 auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Arial;
    padding: 0 20px 0 50px;
    outline: none;
}

.inputBox {
    position: relative;
}

.login-block .fa-user, .login-block .fa-lock {
    position: absolute;
    left: 21px;
    top: 13px;
    color: gray;
}

.login-block input:active,
.login-block input:focus {
    border: 1px solid #38b7ea;
}

.login-block input:active + .fa-user,
.login-block input:active + .fa-lock,
.login-block input:focus + .fa-user,
.login-block input:focus + .fa-lock {
    color: #38b7ea;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #38b7ea;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #38b7ea;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Arial;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #49c8fb;
}

.login-block div#response {
    box-sizing: border-box;
    text-align: center;
    font-family: Arial;
    color: red;
    margin-top: 10px;
}

.login-block div#alt-login-links {
    width: 100%;
    color: #000;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-block div#alt-login-links .left {
    text-align: left;
    padding-left: 25px;
}

.login-block div#alt-login-links .right {
    text-align: right;
    float: right;
    padding-right: 25px;
}


